.container--0- {
  position: absolute;
  left: -143px;
  top: 23px;
  width: 393px;
  height: 852px;
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  justify-content: start;
  align-items: start;
  border-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.text-0-1-4 {
  width: 125px;
  height: 45px;
  color: #ff0000;
  font-size: 28px;
  font-family: Irish Grover, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}
.text-0-1-5 {
  width: 150px;
  height: 49px;
  color: #ff0000;
  font-size: 28px;
  font-family: Irish Grover, "Regular";
  font-weight: 400;
  text-align: center;
  vertical-align: top;
}